html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#top {
    text-align: right;
    font-size: 13px;
    width: 100%;
    display: block;
    white-space: nowrap;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 35px
    font-size: small;
    line-height: 40px;
    font-family: arial, sans-serif;
    min-width: 980px;
}

.head {
    margin-right: 30px;
}

.head a:hover {
    text-decoration: underline;
}

.hbtn {
    color: #000;
    text-decoration: none;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    opacity: .75;
    padding-left: 15px;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
}

.hbtn a:visited {
    color: #609;
}

.col-12 {
    display: flex; flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.user {
    border-radius: 50%;
}

#logo {
    padding: 0px;
    margin: 0px;
    margin-top: 150px;
}

#content {
    width: 100%;
}

.searchbar {
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
}

.searchbar input#search {
  width: 572px;
  height: 40px;
  border: 1px;
  border-color: gainsboro;
  border-style: solid;
  font-size: 12pt;
  padding-left: 3px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.searchbar input:hover {
    outline: 1px solid darkgrey;
    outline-offset: -1px;
}

.searchbar input:focus {
    outline: 1px solid dodgerblue;
    outline-offset: -1px;
 }

input[type="submit"] {
    background-color: #f2f2f2;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #757575;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    cursor: default;
    border: none;
    min-width: 54px;
    left: 565px;
    height: 36px;
    margin: 11px 4px;
    margin-top: 32px;
    padding: 0px 16px;
    text-align: center;
    z-index: 50;
}

.mic {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC");
    width: 20px;
    background-size: 24px;
    background-repeat: no-repeat;
    margin-left: -32px;
    margin-top: 8px;
    display: inline-block;
    cursor: pointer;
}

.links input:hover {
    outline: 1px solid darkgrey;
    outline-offset: -1px;
}

.links input:focus {
    outline: 1px solid dodgerblue;
    outline-offset: -1px;
}

#footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 35px
    font-size: small;
    line-height: 40px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    font-family: arial, sans-serif;
    min-width: 980px;
}

#footer a {
    color: #666;
    text-decoration: none;
    cursor: default;
    font-size: small;
    margin: 0;
    display: inline-block;
    white-space: nowrap;
}


#rhf {
    float: right;
    clear: both;
}

#lhf {
    float: left;
}

#rhf a:hover {
    text-decoration: underline;
}

#lhf a:hover {
    text-decoration: underline;
}

.lfbtn {
    padding-left: 28px;
}

.rfbtn {
    padding-right: 28px;
}